body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat";
  text-align: center;
}

h2{
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 1.5em;
}
h3 {
  font-weight: 900;
}

#title {
  background-color: #ff4c68;
}

#title h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  margin-top: 1.5em;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}
#title .navbar-brand {
  font-family: "Ubuntu";
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}
#title .navbar-brand:hover {
  color: #ebb5bd;
}
#title .nav-item {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  margin-left: 1.5em;
}
#title .rotate-45 {
  margin-top: 2rem;
  transform: rotate(25deg);
}
.img-fluid {
  width: 320px;
  z-index: 1;
  position: absolute;
  left: 30%;
}
@media screen and (max-width: 1075px) and (min-width: 1000px) {
  #title .rotate-45 {
    transform: rotate(0deg);
  }
  .img-fluid {
    width: 70%;
    margin-top: 15%;
  }
  #features {
    background-color: #fff;
    padding: 5% 10% 10% 10%;
  }
}
@media screen and (max-width: 999px) and (min-width: 500px) {
  #title .rotate-45 {
    transform: rotate(0deg);
  }
  .img-fluid {
    width: 200px;
    position: absolute;
    left: 550px;
    bottom: 10px;
  }
  #features {
    background-color: #fff;
    padding: 5% 10% 10% 10%;
  }
}

/* FEATURES */

#features {
  background-color: #fff;
  padding: 5% 20% 10% 20%;
  position: relative;
}

.feature-box h3 {
  font-size: 1.5rem;
  margin-top: 1.5em;
}
.feature-box p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.5em;
}

/* TESTIMONIALS */

.icons {
  margin-top: 1em;
  color: #ff4c68;
}
.icons:hover {
  color: #ef8172;
}
#carouselExampleIndicators .carousel-image {
  padding: 10% 10%;
  margin: 20% 20%;
}

#testimonials {
  background-color: #ff4c68;
  color: #fff;
}
.carousel-item {
  padding: 7% 15%;
}
#testimonials .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#testimonials .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#testimonials em {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.5em;
}
.testimonials-image {
  margin: 5% 5% 5% 5%;
  border: #fff solid 5px;
  border-radius: 50%;
  width: 15%;
}

/* PRESS */

#press {
  background-color: #ff4c68;
  padding-bottom: 5%;
  padding-top: 5%;
  margin: auto;
  display: block;
}
.press-logo {
  margin: 0 3%;
  width: 15%;
}

/* PRICING */

#pricing h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}
.pricing-button {
  margin-top: 2.5em;
}
.pricing-header-p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.5em;
}

#pricing .row {
  width: 100%;
}

/* CTA */

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 5% 5%;
  margin-top: 5%;
}
#cta h3 {
  font-size: 3.5rem;
  margin-top: 1.5em;
}
#footer {
  background-color: #fff;
  padding: 5% 5% 2% 5%;
}

.footer-icons {
  margin-left: 1em;
}
